<!-- Alert Modal -->
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Alert Modal -->

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <a class="navbar-brand" href="#">
        <h2>MtN</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Articles
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Navbar -->

<!-- Jumbotron -->
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="dislpay-4">Magic: the News</h1>
            <p class="lead">The Latest Magic: the Gathering News, straight from Wizards of the Coast</p>
            <p>
                <a class="btn btn-primary btn-md" id="scrape">Get Articles</a>
            </p>
        </div>
    </div>
    <!-- Jumbotron -->


    {{#unless saved}}
        <div class="row" id="articles">
            {{#each articles}} 
                {{> articles/article}} 
            {{/each}}
        </div>
    {{/unless}}

</div>