<!DOCTYPE html>
<html lang="en" class="full-height">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Magic: the News</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/mdbootstrap_css/bootstrap.css" rel="stylesheet" type="text/css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/assets/css/mdbootstrap_css/mdb.css" type="text/css">
    <!-- Personal CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">


</head>


<body>
    {{{body}}}

    <!--Main Navigation-->

    <!--Main Navigation-->


    <!--  SCRIPTS  -->
    <!-- JQuery -->
    <script type="text/javascript" src="/assets/js/mdbootstrap/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/assets/js/mdbootstrap/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/assets/js/mdbootstrap/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/assets/js/mdbootstrap/mdb.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>


    <script>
        new WOW().init();
    </script>
</body>

</html>
